<h1>Editing Article</h1>

<%= render 'form' %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
<<<<<<< HEAD
hogehoge12
hogehoge13
hogehoge14
=======
hogehoge11
>>>>>>> parent of 6bbc4a3... hogehoge13
